@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #121d37;
  --bg-color-start: #121d37;
  --bg-color-end: #0f0271;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  /* color: rgb(var(--foreground-rgb)); */
  /* background-color: var(--bg-color); */
  background: linear-gradient(to bottom, transparent, var(--bg-color-start))
    var(--bg-color-end);
}

main {
  height: 100%;
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}
