@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #121d37;
  --bg-color-start: #121d37;
  --bg-color-end: #0f0271;
  --dark-blue: #121d37;
  --light-blue: #3a4a77;
  --slightly-darker-blue: #2b3d74;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background: linear-gradient(to bottom, transparent, var(--bg-color-start))
    var(--bg-color-end);
}

main {
  height: 100%;
}

.hideScrollBar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}
